
// Config vars
// Kaldi logo brand color: #FD461E
$mpdss-red: rgba(252, 72, 104,1)
$mpdss-orange: rgba(255,158,64,1)
$mpdss-yellow: rgba(65,212,74,1)
$mpdss-green: rgba(255, 228, 77,1)
$mpdss-blue: rgba(46, 54, 196,1)
$kaldi-red-invert: #fff
$mpdss-beige: #FDFFF7
$box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02)

$gradientweb: -webkit-linear-gradient(to right, rgba(252, 72, 104,1), rgba(255,158,64,1))
$gradient: linear-gradient(to right, rgba(252, 72, 104,1), rgba(255,158,64,1))

$primary: $mpdss-red
$primary-invert: $kaldi-red-invert
$body-color: #333
$black: #2b2523
$lato: 'Lato', sans-serif
$fredoka: 'Fredoka One', cursive

html
  scroll-behavior: smooth

h1,h2
  font-family: $fredoka

h3,h4,h5,h6
  font-family: $lato

body
  font-family: $lato
  color: #4a4a4a
  font-size: 1em
  font-weight: 400
  line-height: 1.5

.display-4
  font-size: 2.5rem !important


.logoMPDSS
  font-family: $fredoka
  font-size: 1.75rem !important
  .m
    color: $mpdss-red
  .p
    color: $mpdss-orange
  .d
    color: $mpdss-green
  .s
    color: $mpdss-yellow
  .s2
    color: $mpdss-blue

.navbar
  min-height: 5.25rem !important
  background-color: $mpdss-beige !important

.navbar .navbar-menu
  box-shadow:none !important

.navbar-collapse.collapse.show
  height: calc(100vh - 5.25rem) !important
  display: flex !important
  align-content: space-around !important


section
  margin-bottom: 3rem

.card
  box-shadow: $box-shadow
  border-radius: 5px !important
  border: 0px !important

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

footer.footer
  margin-top: 3rem !important
  padding-top: 3rem !important
  padding-bottom: 3rem !important
  background-color: #0a0a0a !important
  a
    color: #f5f5f5 !important

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 2em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.full-width-image
    width: 100vw
    height: 400px
    background-size: cover
    background-position: bottom
    display: flex
    justify-content: center
    align-items: center


.btn-primary
  background: $primary !important
  color: white !important
  box-shadow: none !important
  border: 0 !important

.btn-rounded
  border-radius: 30px !important

.margin-top-0
  margin-top: 0 !important

a.nav-link
  color: #4a4a4a !important
a.nav-link:hover
  color: $mpdss-red !important

.navbar-item .icon
  color: $primary
// Override for use of svg's from https://simpleicons.org/
.icon svg
  width: 1.5rem
  height: 1.5rem
  fill: currentColor
.navbar-brand .logoMPDSS
  padding: 0 1rem
  margin-bottom: 0px !important

.navbar-collapse .socialList

.navbar-collapse .socialList .socialListItem
  margin-left: 10px


footer.footer
  padding: 3rem 0rem 0rem
  background-color: transparent
.scroll-section
  height: 100%
  position: relative
//Menu overrides

.menu
  position: -webkit-sticky !important
  position: sticky !important
  top: 0
.menu-label
  font-size: 1em !important
  text-align: left
.menu-list
  list-style: none !important
  text-align: left
  margin-left: 0 !important
  li
    i
      float: right
      display: none
.menu-list li:hover i
  display: inline
.social
  padding: 2em
.social a
    color: #4a4a4a
    padding: .5em .5em .5em .5em
    border-radius: 1em
    margin: .5em
    width: 1em
    height: 1em
    vertical-align: middle
    display: inline
.social a:hover
  color: $mpdss-red
// blog roll
.blog-list-item.is-featured
  background-color: #d6400033;
.blog-list-item header
  display: flex;
  margin-bottom: 1em;
.blog-list-item .blogPreviewImage
  flex-basis: 100%;

.features-box
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
.frVC
  display: flex
  align-items: center
.homeLogo
  text-align: center
  width: 240px
  height: auto
.featureTag
  font-size: 1rem !important
  margin-top: 1.5rem !important
  border-radius: 30px !important
  padding-left: 2em !important
  padding-right: 2em !important

.space-evenly
  justify-content: space-evenly !important

.profile-card
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
  border-radius: 10px
  .profile-card-image img
    border-top-left-radius: 10px
    border-top-right-radius: 10px
    border-bottom-left-radius: 0px
    border-bottom-right-radius: 0px
    .gatsby-image-wrapper
      border-radius: 0px !important
  .profile-card-body
    padding: 10px
    text-align: center
  .profile-card-heading
    margin-bottom: .4em
  .profile-card-subheading
    font-weight: 600
  .profile-card-footer
    padding-top: 10px
    padding-bottom: 10px
.socialList
  display: flex
  flex-direction: row
  justify-content: space-around
  text-align: center
  .socialListItem
    width: 100%
    height: 100%
    font-size: 1.75rem

.content-image
  text-align: center

.testimonials
  width: 100%
  padding: 1rem
  .quote-text
    font-size: 1.5rem
// responsiveness

  .blog-list-item header
    display: block
  .blog-list-item .blogPreviewImage
    text-align: center;
    margin: 0 0 1em;
  .navbar-menu.is-active
    height: 100vh !important
    background-color: $mpdss-beige
    .navbar-start
      height: 60vh
      display: flex
      flex-direction: column
      justify-content: space-around
